.service-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.service-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  height: 300px;
  border: 1px solid #5F4DEF;
  border-radius: 25px;
  margin: 10px auto;
}

.service-box:hover{
  background-color: #5F4DEF;
  color: aliceblue;
  text-decoration: none;
}

.Services-Title{
  margin: 40px;
  text-align: center;
  transition: .8s ease-in-out;
}

.Services-Title:hover{text-decoration: underline;
-webkit-text-decoration-color: #5F4DEE;
text-decoration-color: #5F4DEE;
-webkit-text-decoration-style: wavy;
text-decoration-style: wavy;
}


.services-img{
  width: 220px;
  height: 220px;
  margin:auto;
}

.service-head {
  font-size: 1.3rem;
  text-align: center;
}

.service-head:hover{
  text-decoration: none;
  color: white;
}